@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {

    --font-family: 'Playfair Display', sans-serif;

    --color-background: #FAF9F6;
    --color-foreground: #141414;

    --color-card: #F6F5F2;
    --color-card-foreground: #141414;

    --color-popover: #FFFFFF;
    --color-popover-foreground: #141414;

    --color-primary: #141414;
    --color-primary-foreground: #FAF9F6;

    --color-secondary: #F1EEE9;
    --color-secondary-foreground: #141414;

    --color-muted: #ECEBE8;
    --color-muted-foreground: #737373;

    --color-accent: #E9E6E2;
    --color-accent-foreground: #141414;

    --color-destructive: #EF4444;
    --color-destructive-foreground: #F8FAFC;

    --color-border: #E4E2DF;
    --color-input: #E4E2DF;
    --color-ring: #141414;

    --color-radius: 0px;

    --color-sand: #EBE6E0;
    --color-sand-foreground: #141414;

    --color-offwhite: #F8F6F2;
    --color-cream: #F7F4ED;

    --color-sidebar-background: #FAFAFA;
    --color-sidebar-foreground: #404047;
    --color-sidebar-primary: #18181B;
    --color-sidebar-primary-foreground: #FAFAFA;
    --color-sidebar-accent: #F4F4F5;
    --color-sidebar-accent-foreground: #18181B;
    --color-sidebar-border: #E4E4E7;
    --color-sidebar-ring: #3B82F6;
}